h1 {
    color: peru;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 20px;
    text-align: center;
    text-transform: uppercase;
}

a{
    color: black;
    font-size: 14px;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
/*change color of link text when mouse hovers over it */
a:hover {
    color: peru;
}

.my-role {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 20px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
}

#statement-of-purpose {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 3px;
    text-align: center;
    font-style: italic;
}